* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BelyDisplay";
  src: url(../assets/fonts/BelyDisplay-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "FuturaRound";
  src: url(../assets/fonts/FuturaRound-Demi.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../assets/fonts/ProximaNova-Regular.otf);
  font-weight: normal;
}

:root {
  font-family: "ProximaNova";
  font-weight: normal;
  background-color: #f9f9f9;
}

@keyframes textSlide {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes infiniteAnimation {
  from {
    // transform: skew(3deg);
    transform: scale(1) rotate(360deg);
  }

  to {
    transform: scale(0.6);
  }
}

@keyframes bckground {
  from {
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes opa {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}
